.overlay {
  align-items: center;
  background: rgb(0 0 0 / 55%);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
}

.dialog {
  background: white;
  color: black;
  display: grid;
  gap: 1rem;
  max-width: 28rem;
  padding: 2rem;
}
